.footer {
	background-color: $darkColour;
	height: 128px;
	position: relative;
}
.footer_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: $colorWhite;
}
	.footer_paragraph {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 10%;
	}

p {
	margin: 0;
}
.quore {
color: $brightColour;
}

@media all and (min-width: 768px) {
	.footer_paragraph {
		margin-top: 5%;
	}

}
@media all and (min-width: 1280px) {
	.footer_paragraph {
		margin-top: 5%;
	}

}
