.go-button {
	width: 76px;
	height: 45px;
	border-radius: 22.5px;
	border: solid 2px #f26002;
	border-color: $brightColour;
	color: $brightColour;
	background-color: inherit;
	font-size: 20px;
	text-align: center;
}
.more_reason {
	width: 184px;
  height: 45px;
  border-radius: 22.5px;
  background-color: #f26002;
  border-color: $brightColour;
	background-color: $brightColour;
	color: $whiteColour;
	font-size: 20px;
}
.btn {
	width: 44px;
  height: 44px;
  background-color: $lightColour;
}
.down_button {
	width: 45px;
  height: 45px;
  border-radius: 22.5px;
  background-color: #ffffff;
	border-color:  #ffffff;
	border-style: solid;
	position: absolute;
	top: 85%;
}
.up_button {
	width: 45px;
  height: 45px;
  border-radius: 22.5px;
  background-color: #ffffff;
	border-color:  #ffffff;
	border-style: solid;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, -50%);

}
